.blk {
  &.blk-contacts {
    .blk-contacts__heading {

    }

    .blk-contacts__text {
      font-weight: 500;
      font-size: 22px;
      line-height: 30px;
    }

    .blk-contacts__text-line {
      width: 100%;
      display: block;
    }

    .blk-contacts__call {
      margin-bottom: 30px;
    }

    .blk-contacts__bottom {
      padding-top: 16px;
    }

    .blk-contacts__suggestion {
      position: absolute;
      bottom: 0;

      padding-top: 30px;
    }

    .blk-contacts__map {
      width: 100%;
      height: 225px;
    }
  }
}