.blk {
  /* "Intro" block */
  &.blk-intro {
    padding: 0;

    .blk-intro__text {
      padding: @py @px;
      padding-top: 0;
      padding-right: 0;

      overflow: hidden;
    }

    .blk-intro__img {
      padding: @py @px;
      padding-top: 0;
      padding-left: 0;
    }

    .blk-intro__person {
      padding: @py @px;
      padding-bottom: 0;
    }

    p.blk-intro__text-desc {
      margin-top: 22px;
      margin-right: 125px;
    }

    p.blk-intro__text-lower {
      margin-top: 80px;
      margin-bottom: 0;
    }

    p.blk-intro__text-citation {
      position: relative;

      font-size: 30px;
      line-height: 35px;
      //font-style: italic;
      font-weight: 600;

      margin: 56px 0;

      width: 531px;

      z-index: 1;

      &::before {
        position: absolute;
        left: -50px;
        top: 0;

        font-size: 80px;
        font-style: normal;

        content: '\e811';
        font-family: 'sobytie-icons';
        color: #CCD7D7;

        z-index: -5;
        transform: rotate(180deg);
      }

      &::after {
        position: absolute;
        right: 0;
        bottom: 0;

        font-size: 80px;
        font-style: normal;

        content: '\e811';
        font-family: 'sobytie-icons';
        color: #CCD7D7;

        z-index: -10;
      }
    }

    .blk-intro__text-comm {
      margin-left: 20px;
    }

    // TODO: reponsive
    // TODO: rename
    .blk-intro__img-avatar {
      img {
        pointer-events: none;

        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 10px;

        width: 100%;
      }
    }

    .blk-intro__social {

    }

    @media (max-width: @lg_to) {
      .blk-intro__person {
        h1 {
          font-size: 32px;
          margin-bottom: 0;
        }
      }

      p.blk-intro__text-citation {
        width: 100%;
      }
    }

    @media (max-width: @xs_to) {
      .blk-intro__text {
        padding-left: 15px;
        padding-bottom: 15px;
      }

      .blk-intro__person {
        padding-top: 15px;
        padding-right: 15px;
        padding-left: 15px;

        h1 {
          font-size: 15px;
          line-height: 105%;
          letter-spacing: 0.05em;
        }

        p, span.comment {
          font-size: 10px;
          line-height: 20px;
          letter-spacing: 0.01em;
        }
      }

      p.blk-intro__text-citation {
        font-size: 15px;
        line-height: 105%;
        margin-top: 10px;
        margin-bottom: 20px;

        &::before,
        &::after {
          font-size: 40px;
        }
      }
    }
  }
}