@px: 40px;
@py: 50px;

.blk {
  padding: @py @px;

  /* "Intro" block */
  &.blk-intro {
    padding: 0;

    .blk-intro__text {
      padding: @py @px;
      padding-right: 0;

      overflow: hidden;
    }

    .blk-intro__img {
      padding: @py @px;
      padding-left: 0;
    }

    p.blk-intro__text-desc {
      margin-top: 22px;
      margin-right: 125px;
    }

    p.blk-intro__text-lower {
      margin-top: 80px;
      margin-bottom: 0;
    }

    p.blk-intro__text-citation {
      position: relative;

      font-size: 30px;
      line-height: 35px;
      font-style: italic;
      font-weight: 700;

      margin: 56px 0;

      width: 531px;

      z-index: 1;

      &::before {
        position: absolute;
        left: -50px;
        top: 0;

        font-size: 80px;
        font-style: normal;

        content: '\e811';
        font-family: 'sobytie-icons';
        color: #CCD7D7;

        z-index: -5;
        transform: rotate(180deg);
      }

      &::after {
        position: absolute;
        right: 0;
        bottom: 0;

        font-size: 80px;
        font-style: normal;

        content: '\e811';
        font-family: 'sobytie-icons';
        color: #CCD7D7;

        z-index: -10;
      }
    }

    .blk-intro__text-comm {
      margin-left: 20px;
    }

    // TODO: reponsive
    // TODO: rename
    .blk-intro__img-avatar {
      img {
        pointer-events: none;

        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 10px;
      }
    }

    .blk-intro__social {

    }
  }

  /* "Services" block */
  &.blk-services {
    padding-bottom: 0;
  }

  &.blk-events {
    padding-bottom: 8px;

    .blk-events__text-main {
      padding-right: 40px;
    }

    .blk-events__slider_wrap {
      padding-left: 0;
      padding-right: 15px;
    }
  }

  &.blk-gallery {
    padding-bottom: 0;

    .blk-gallery__overlay {
      left: 0;

      height: 200px + 20px; // height of mcard

      @media (min-width: 768px) {
        height: 320px + 20px;
      }
    }

    .blk-gallery__btn-wrap {
      position: absolute;
      bottom: (320px) / 2.2;
      left: 0;

      text-align: center;
      width: 100%;
    }

    .blk-gallery__btn {
      padding: 0 25px;
      font-weight: 500;
    }
  }

  &.blk-slidertop {
    padding: 0;
    height: 560px;

    position: relative;
    overflow: hidden;

    .blk-slidertop__slide {
    }

    .blk-slidertop__content {
      position: relative;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      padding: @py @px;

      z-index: 2;

      h1.blk-slidertop__heading {
        margin-bottom: 10px;
      }

      p.blk-slidertop__text {
        width: 485px;
      }

      p.blk-slidertop__sub {
        position: absolute;
        bottom: 40px;
        left: 50px;

        padding: 0;
      }
    }
  }

  &.blk-profile {
    p.blk-profile__text {
      font-size: 22px;
      line-height: 27px;
      max-width: 531px;
    }
  }

  &.blk-cover {
    position: relative;
    width: 100%;

    padding: 0;

    border-radius: @roundness;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    overflow: hidden;

    .blk-cover__content {
      position: relative;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      z-index: 2;

      padding: @py @px;
    }

    .blk-cover__heading {
      margin-bottom: 40px;
    }

    p.blk-cover__text-desc {
      width: 733px;
      margin: 0;
    }
  }

  &.blk-team {
    .blk-team__item {
      padding: 20px;
    }

    .blk-team__card {
      margin: 0;
    }
  }

  &.blk-contacts {
    .blk-contacts__heading {

    }

    .blk-contacts__text {
      font-weight: 500;
      font-size: 22px;
      line-height: 30px;
    }

    .blk-contacts__text-line {
      width: 100%;
      display: block;
    }

    .blk-contacts__call {
      margin-bottom: 30px;
    }

    .blk-contacts__bottom {
      padding-top: 16px;
    }

    .blk-contacts__suggestion {
      padding-top: 30px;
    }

    .blk-contacts__map {
      width: 100%;
      height: 225px;
    }
  }

  /* Global modifiers */
  &.blk_no-overflow {
    //overflow: hidden;
  }
}