/**
  "Прикладные" блоки, используемые для корректировки
  положения элементов на конечных страницах.
 */

@px: 40px;
@py: 50px;

@import "blk/intro";
@import "blk/services";
@import "blk/service";
@import "blk/events";
@import "blk/gallery";
@import "blk/slidertop";
@import "blk/profile";
@import "blk/cover";
@import "blk/team";
@import "blk/contacts";
@import "blk/stories";

.blk {
  padding: @py @px;

  /* Global modifiers */
  &.blk_no-overflow {
    //overflow: hidden;
  }

  @media (max-width: 576px) {
    padding: 15px;
  }
}