.btn {
  border: none;
  border-radius: @roundness;

  font-size: 20px;
  line-height: 50px;
  padding: 0 55px;

  color: black;

  /* For raw usage */
  display: block;
  width: max-content;
  float: left;

  /* Suppress default Bootstrap behavior */
  transition: none;
  border-color: transparent !important;
  //box-shadow: none !important;


  &:hover {
    color: black;
    text-decoration: none;
  }

  &.btn-primary {
    background-color: @color_primary;
    color: white;

    &:hover {color: white;}
    &:active {
      color: white !important;
      background-color: @color_primary !important;
    }
  }

  &.btn-secondary {
    background-color: @color_secondary;
    color: @color_background;

    &:hover {color: @color_background;}
    &:active {
      color: @color_background !important;
      background-color: @color_secondary !important;
    }
  }

  &.btn-inactive {
    background-color: @color_secondary;
    color: white;

    &:hover {color: white;}
    &:active {
      color: white !important;
      background-color: @color_secondary !important;
    }
  }

  &.btn-wide {
    padding: 0 75px;
  }
}