/**
  Блок "Карточка"
 */

.mcard {
  background: @grad_card_neutral;
  background-repeat: no-repeat;
  background-size: cover;

  margin: 15px 0 15px 0;

  border: none;
  border-radius: @roundness;

  height: 200px;

  /** Элементы-контейнеры **/
  .mcard__content {
    padding: 22px;
  }

  .mcard__actions {
    position: absolute;
    bottom: 22px;

    padding: 22px;
  }

  /** Конечные элементы **/
  h3.mcard__heading {
    padding-bottom: 15px;
  }

  p.mcard__description {
    font-size: 18px;

    margin-bottom: 0;

    word-break: break-word;

    height: 50px;

    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative;
    /* use this value to count block height */
    line-height: 1em;
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 1.9em;
    /* place for '...' */
    //margin-right: -1em;
    //padding-right: 1em;

    &.overflown {
      /* create the ... */
      &:after {
        content: '...';
      }

      // TODO: Use jQuery to add the ellipsis:
      // $.fn.overflown=function(){var e=this[0];return e.scrollHeight>e.clientHeight||e.scrollWidth>e.clientWidth;}
    }
  }

  a.mcard__action {
    font-size: 20px;
    line-height: 23px;

    color: @color_text_light;

    &.symbol {
      color: @color_text_light;

      font-weight: 500;
      font-size: 50px;
      vertical-align: bottom;

      &:hover {
        text-decoration: none;
      }
    }
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 768px) {
    height: 320px;

    p.mcard__description {
      height: initial;
      max-height: none;
    }
  }

  &.mcard_bottomed {
    .mcard__content {
      position: absolute;
      bottom: 22px;

      width: calc(100% - 30px);
    }

    .mcard__actions {
      position: absolute;
      top: 0;
    }
  }
}