.cal {
  .cal__legend {
    padding: 10px;

    .cal__legend-marker {
      font-size: 20px;
      line-height: 23px;

      display: inline;
      margin-right: 20px;

      &::before {
        content: '\25CF';
        vertical-align: -5px;
        margin-right: 10px;
        font-size: 40px;
      }

      &.cal__legend-marker_closed {
        color: fade(@color_closed_fg, 70);

        &::before {color: @color_closed_fg;}
      }

      &.cal__legend-marker_cancelled {
        color: fade(@color_cancelled_fg, 70);

        &::before {color: @color_cancelled_fg;}
      }
    }

    .cal__legend-next {
      &:hover {
        a.cal__legend-next-text {
          text-decoration: none;
        }

        .cal__legend-next-icon {
          color: @color_primary;
        }
      }
    }

    a.cal__legend-next-text {
      display: block;

      font-size: 20px;
      line-height: 23px;

      color: @color_default_fg;

      float: unset;
      text-align: right;
    }

    .cal__legend-next-icon {
      float: right;
      color: @color_default_fg;

      font-size: 18px;
      margin-left: 5px;
    }

    @media (max-width: @xs_to) {
      .cal__legend-marker {
        font-size: 10px;
        line-height: 12px;

        font-weight: 700;

        display: block;

        margin: 2px 0;

        &::before {
          vertical-align: -2px;
          font-size: 20px;
        }
      }

      a.cal__legend-next-text {
        font-size: 10px;
        line-height: 12px;

        font-weight: 700;
      }

      .cal__legend-next-icon {
        margin-left: 0;
      }
    }
  }
}