.cal {
  .cal__legend {
    //padding: 10px;
    margin: 10px 0;

    .cal__legend-marker {
      font-size: 20px;
      line-height: 23px;

      display: inline;
      margin-right: 20px;

      &::before {
        content: '\25CF';
        vertical-align: -5px;
        margin-right: 10px;
        font-size: 40px;
      }

      &.cal__legend-marker_closed {
        color: fade(@color_closed_fg, 70);

        &::before {color: @color_closed_fg;}
      }

      &.cal__legend-marker_cancelled {
        color: fade(@color_cancelled_fg, 70);

        &::before {color: @color_cancelled_fg;}
      }
    }

    .cal__legend-nav {
      float: right;
    }

    span.cal__legend-navtext {
      font-size: 20px;
      line-height: 23px;

      color: @color_default_fg;

      float: unset;
      text-align: right;
    }

    .cal__legend-prev-icon,
    .cal__legend-next-icon {
      display: inline;
      color: @color_default_fg;
      font-size: 18px;

      &:hover {
        color: @color_primary;
      }
    }

    .cal__legend-prev-icon {
      margin-right: 5px;
    }

    .cal__legend-next-icon {
      margin-left: 5px;
    }

    @media (max-width: @xs_to) {
      .cal__legend-marker {
        font-size: 10px;
        line-height: 12px;

        font-weight: 700;

        display: block;

        margin: 2px 0;

        &::before {
          vertical-align: -2px;
          font-size: 20px;
        }
      }

      span.cal__legend-navtext {
        font-size: 10px;
        line-height: 12px;

        font-weight: 700;
      }

      .cal__legend-prev-icon,
      .cal__legend-next-icon {
        font-size: 10px;
        margin-left: 0;
      }
    }
  }
}