/**
  Высокий вариант
 */

@lines_max: 3;
@lines_max_sm: 4;
@lines_max_xs: 5;

.mcard {
  &.mcard_hist-tall {
    margin: 0;
    padding: 0;

    min-height: 450px;

    //margin: 0;

    .mcard__content {
      //width: calc(100% - 24px); // padding-x * 2
      //left: 12px; // padding-x
    }

    h3.mcard__heading {
      font-size: 25px;
      line-height: 29px;
      font-weight: bold;

      margin-bottom: 10px;

      max-height: 29px * @lines_max; // line-height used
      overflow: hidden;
    }

    p.mcard__description {
      font-size: 20px;
      line-height: 23px;
      font-weight: 500;

      margin-bottom: 18px;

      max-height: 23px * @lines_max; // line-height used
      overflow: hidden;
    }

    &.mcard_splitted {
      background-color: transparent;
      background-image: none;

      .mcard__content {
        height: 50%;

        background-color: @color_emph_bg;
      }

      &.mcard_bottomed {
        .mcard__content {
          width: 100%;
          //width: calc(100% - 24px); // padding-x * 2
          //left: 12px; // padding-x
          bottom: 0;

          border-bottom-right-radius: @roundness;
          border-bottom-left-radius: @roundness;
          @media (max-width: @xs_to) {border-bottom-right-radius: @roundness / 2;}
          @media (max-width: @xs_to) {border-bottom-left-radius:  @roundness / 2;}

          margin-bottom: 0;

          overflow: hidden;

          .mcard__content-tobottom {
            position: absolute;

            left: 0;
            bottom: 0;
            padding: 22px;
          }
        }

        .mcard__img-split {
          background-color: @color_primary;

          border-top-right-radius: @roundness;
          border-top-left-radius: @roundness;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;

          //position: absolute;
          top: 0;
        }
      }
    }

    /* ==== MEDIA QUERIES ==== */

    @media (max-width: @lg_to) {
      min-height: 500px;
    }

    @media (max-width: @md_to) {
      min-height: 450px;

      p.mcard__description {
        margin-bottom: 8px;
      }
    }

    @media (max-width: @sm_to) {
      min-height: 250px;

      h3.mcard__heading {
        font-size: 18px;
        line-height: 20px;
        letter-spacing: .01em;

        max-height: 20px * 2;
      }

      p.mcard__description {
        font-size: 16px;
        line-height: 18px;

        max-height: 18px * @lines_max_sm;
      }

      .mcard__content {
        padding: 15px;
      }

      &.mcard_splitted {
        .mcard__content {
          height: 70%;

          .mcard__content-tobottom {
            padding: 15px !important;
          }
        }
      }
    }

    @media (max-width: @xs_to) {
      min-height: 200px;

      &:not(.mcard_splitted) {
        min-height: 50px;
      }

      h3.mcard__heading {
        font-size: 10px;
        line-height: 12px;
        letter-spacing: .01em;

        margin-bottom: 5px;
      }

      p.mcard__description {
        font-size: 10px;
        line-height: 12px;

        max-height: 10px * @lines_max_xs;

        margin-bottom: 8px;
      }

      &.mcard_splitted {
        .mcard__content {
          height: 60%;
        }
      }
    }
  }
}