.footernav {
  padding: 50px 0;
  padding-top: 0;

  ul.footernav-menu {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
    }

    /* Elements */
    .footernav-menu__heading {
      color: @color_text_light;

      font-weight: 600;
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 6px; /* 15 in Figma */
      letter-spacing: 1px;

      opacity: .5;
    }

    .footernav-menu__item, .footernav-menu__itemtext {
      color: @color_text_light;

      font-weight: 400;

      font-size: 20px;
      line-height: 30px;

      white-space: nowrap;

      a {
        color: @color_text_light;
      }

      p {
        font-size: 20px;
        line-height: 30px;
        white-space: initial;
      }
    }
  }

  @media(max-width: @md_to) {
    text-align: center;

    ul.footernav-menu {
      //padding: 0;
      margin: 0 50px;
      line-height: 0;
      margin-bottom: 10px;

      &:last-of-type {
        //margin-bottom: 0;
      }

      .footernav-menu__item {
        display: inline;
        margin: 0 5px;
      }
    }
  }

  @media(max-width: @xs_to) {
    ul.footernav-menu {
      //margin: 15px 0;

      .footernav-menu__heading {
        margin-bottom: 5px;

        font-size: 10px;
        line-height: 12px;
        letter-spacing: 1px;
      }

      .footernav-menu__item {
        font-size: 10px;
        line-height: 15px;
      }

      .footernav-menu__itemtext {
        display: block;

        p {
          font-size: 10px;
          line-height: 15px;
          white-space: normal;
        }
      }
    }
  }
}