.footernav {
  padding: 50px 0;
  padding-top: 0;

  ul.footernav-menu {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
    }

    /* Elements */
    .footernav-menu__heading {
      color: @color_text_light;

      font-weight: 600;
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 6px; /* 15 in Figma */
      letter-spacing: 1px;

      opacity: .5;
    }

    .footernav-menu__item {
      color: @color_text_light;

      font-weight: 400;

      font-size: 20px;
      line-height: 30px;

      a {
        color: @color_text_light;
      }
    }
  }

  @media(max-width: @md_to) {
    text-align: center;

    ul.footernav-menu {
      padding: 0;
      margin: 15px 50px;

      .footernav-menu__item {
        display: inline;
        margin: 0 20px;
      }
    }
  }

  @media(max-width: @xs_to) {
    ul.footernav-menu {
      margin: 15px 0;
    }
  }
}