<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/main.css">

    <title>Footer</title>
</head>
<body class="main-bg">
    <footer class="container blk">
        <nav class="footernav row m-0">
            <div class="col-md-6 p-0">
                <div class="row m-0 p-0">
                    <div class="col-md-5 p-0">
                        <ul class="footernav-menu">
                            <li class="footernav-menu__heading">Меню</li>

                            <li class="footernav-menu__item"><a href="">Главная</a></li>
                            <li class="footernav-menu__item"><a href="">Услуги</a></li>
                            <li class="footernav-menu__item"><a href="">Мероприятия</a></li>
                            <li class="footernav-menu__item"><a href="">Истории</a></li>
                            <li class="footernav-menu__item"><a href="">О нас</a></li>
                            <li class="footernav-menu__item"><a href="">Контакты</a></li>
                        </ul>
                    </div>
                    <div class="flex-col col-md-7 p-0">
                        <ul class="footernav-menu">
                            <li class="footernav-menu__heading">Социальные сети</li>

                            <li class="footernav-menu__item"><a href="">Instagram</a></li>
                            <li class="footernav-menu__item"><a href="">Facebook</a></li>
                        </ul>

                        <ul class="footernav-menu">
                            <li class="footernav-menu__heading">О ваших данных</li>

                            <li class="footernav-menu__item"><a href="">Правила обработки</a></li>
                            <li class="footernav-menu__item"><a href="">Использование куки</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="flex-col col-md-6 p-0">
                <ul class="footernav-menu">
                    <li class="footernav-menu__heading">Рассылка</li>

                    <li class="footernav-menu__item">
                        Несколько эксклюзивных статей и специальных предложений раз в месяц с доставкой на вашу почту:
                    </li>
                </ul>

                <form class="form form_footer form-inline">
                    <input type="email" class="form__input form-control mr-3" placeholder="Ваш Email:">
                    <button type="submit" class="btn btn-primary">Подписаться</button>
                </form>
            </div>
        </nav>
        <div class="footercopy row m-0">
            <div class="footercopy__left col-lg-10 col-sm-6">
                <span class="footercopy__copyright">&copy; ООО &laquo;Событие&raquo;, 2019</span>
                <span class="footercopy__address">620075, г. Екатеринбург, ул. Шарташская, 23</span>
            </div>
            <div class="col-lg-2 col-sm-6 p-0">
                <span class="footercopy__tel"><a href="tel:+73432432323">+7 (343) 243 23 23</a></span>
            </div>
        </div>
    </footer>
</body>
</html>