<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/main.css">

    <title>Header</title>
</head>
<body class="main-bg">
    <header class="container">
        <img class="headerlogo" src="../assets/images/logo.svg" alt="СоБытие">
        <nav class="headernav">
            <a href="" class="headernav__item">Главная</a>
            <a href="" class="headernav__item">Услуги</a>
            <a href="" class="headernav__item">Мероприятия</a>
            <a href="" class="headernav__item">Истории</a>
            <a href="" class="headernav__item">О нас</a>
        </nav>
        <div class="headersocial">
            <a href=""><i class="icon icon_menu icon-sob-ig"></i></a>
            <a href=""><i class="icon icon_menu icon-sob-fb"></i></a>
            <a href=""><i class="icon icon_menu icon-sob-phone"></i></a>
        </div>
    </header>
</body>
</html>