<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/main.css">

    <title>Layout</title>
</head>
<body class="main-bg">
    <section id="" class="container">
        <div class="row m-0">
            <div class="col-md-8">
                <h1>Мастерская Отношений &laquo;СоБытие&raquo;</h1>

                <p>
                    Небольшой текст, который должен цеплять читателя и кратко объяснять ему формат мастерской отношений.
                    В этом же тексте должна быть вдохновляющая цитата Коли о создании компании, ее миссии и ценностей
                </p>

                <p>
                    <span class="signature">Николай Черкасов</span>
                    <span class="comment">Директор мастерской</span>
                </p>
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </section>

    <section class="container">
        <div class="row m-0">
            <h1>Мастерская Отношений &laquo;СоБытие&raquo;</h1>

            <p>
                Небольшой текст, который должен цеплять читателя и кратко объяснять ему формат мастерской отношений.
                В этом же тексте должна быть вдохновляющая цитата Коли о создании компании, ее миссии и ценностей
            </p>

            <p>
                <span class="signature">Николай Черкасов</span>
                <span class="comment">Директор мастерской</span>
            </p>
        </div>
    </section>
</body>
</html>