<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/main.css">

    <title>Typography</title>
</head>
<body>
    <div class="container">

        <br><br>

        <div class="row">
            <h1>Мастерская Отношений &laquo;СоБытие&raquo;</h1>

            <p>
                Небольшой текст, который должен цеплять читателя и кратко объяснять ему формат мастерской отношений.
                В этом же тексте должна быть вдохновляющая цитата Коли о создании компании, ее миссии и ценностей
            </p>

            <p>
                <span class="signature">Николай Черкасов</span>
                <span class="comment">Директор мастерской</span>
            </p>
        </div>

        <div class="row">
            <h2>Мероприятия</h2>

            <p class="text-justify text-small">
                Текст, рассказывающий о мероприятиях, которые проводятся силами СоБытия и партнеров.
                Справа можно увидеть небольшую выборку фотографий с последних мероприятий.
                В самом тексте должно быть кратко рассказано о целях этих мероприятий,
                а так же что от них можно получить.
            </p>
        </div>

        <div class="row">
            <h2>Истории</h2>
        </div>
    </div>
</body>
</html>