.cal {
  .cal__day {
    width: 100%;
    height: 40px;

    text-align: right;

    //border: solid 1px black;

    margin: 12px 0 0 0;

    color: #003737;

    display: table;
    padding: 0 10px;
  }

  .cal__wd {
    font-size: 22px;
    line-height: 26px;
    font-weight: 600;
    opacity: .5;

    width: 55%;
    display: table-cell;
    vertical-align: middle;
  }

  .cal__dn {
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
    opacity: .7;

    display: table-cell;
    vertical-align: middle;
  }

  /* smaller */
  @media (max-width: 991.98px) {
    .cal__day {
      width: 100%;
      height: @cal__col_item_height;

      margin: 0 5px;

      display: inline-block;
    }

    .cal__wd {
      width: 25%;
    }

    .cal__dn {
      width: 25%;
    }
  }
}