/**
  Блок "Карточка"
 */

.mcard {
  background-color: @color_primary;
  background-image: @grad_card_neutral;
  background-repeat: no-repeat;
  background-size: cover;

  margin: 15px 0 15px 0;

  border: none;
  border-radius: @roundness;

  height: 200px;

  &:hover {
    cursor: pointer;

    .mcard__action {
      text-decoration: none;

      &.symbol {
        background-color: #DFB05A;
      }
    }
  }

  /** Элементы-контейнеры **/
  .mcard__content {
    padding: 25px;
  }

  .mcard__actions {
    position: absolute;
    bottom: 22px;

    padding: 22px;
  }

  /** Конечные элементы **/
  h3.mcard__heading {
    margin-bottom: 15px;
  }

  p.mcard__description {
    font-size: 18px;

    margin-bottom: 0;

    word-break: break-word;

    height: 50px;

    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative;
    /* use this value to count block height */
    line-height: 1em;
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 3em;
    /* place for '...' */
    //margin-right: -1em;
    //padding-right: 1em;

    &.overflown {
      /* create the ... */
      &:after {
        content: '...';
      }

      // TODO: Use jQuery to add the ellipsis:
      // $.fn.overflown=function(){var e=this[0];return e.scrollHeight>e.clientHeight||e.scrollWidth>e.clientWidth;}
    }
  }

  .mcard__action {
    font-size: 20px;
    line-height: 23px;

    color: @color_text_light;

    &.symbol {
      border-radius: @roundness;

      padding: 4px;
      padding-right: 6px;
      padding-top: 6px;

      margin-left: -4px; /* compensation of padding-left */

      &:before {
        content: '+';
        color: @color_text_light;

        margin-right: 4px;

        font-weight: 500;
        font-size: 40px;
        vertical-align: bottom;
      }
    }

    .mcard__action__help-text {
      color: @color_text_light;

      font-size: 22px;
      line-height: 26px;
    }
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 768px) {
    height: 320px;

    p.mcard__description {
      height: auto; /* ie 11 */
      height: initial;
      max-height: 8em;
    }
  }

  &.mcard_bottomed {
    .mcard__content {
      position: absolute;
      bottom: 22px;

      width: calc(100% - 30px);
    }

    .mcard__actions {
      position: absolute;
      top: 0;
    }
  }

  &.mcard_alt {
    height: 150px;

    h3.mcard__heading {
      margin-bottom: 10px;
    }

    .mcard__content {
      padding-left: 30px;
    }

    &:hover {
      background-image: none !important;
      background-color: @color_primary;
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 768px) {
      p.mcard__description {
        height: auto; /* ie 11 */
        height: initial;
        max-height: 4em;
      }
    }
  }
}