/**
  Блок "Карточка"
 */

/* ==== MODIFIERS ==== */
@import "mcard/_alt";
@import "mcard/_quad";
@import "mcard/_hist-big";
@import "mcard/_hist-mid";
@import "mcard/_hist-small";
@import "mcard/_hist-tall";

@import "mcard/_bottomed";

.mcard {
  position: relative;

  background-color: @color_primary;
  //background-image: @grad_mcard;
  background-repeat: no-repeat;
  background-size: cover;

  margin: 15px 0 15px 0;

  border: none;
  border-radius: @roundness;

  height: 200px;

  overflow: hidden;

  /* ==== ELEMENTS ==== */

  // Контейнеры

  /* Глобальный контейнер */
  .mcard__content {
    position: absolute;

    padding: 25px;
  }

  /* Список действий (внизу) */
  .mcard__actions {
    position: absolute;
    bottom: 0;

    padding: 22px;
  }

  /* Изображение (используется только при .mcard_splitted ) */
  .mcard__img-split {
    //position: absolute;
    //bottom: 0;
    //left: 0;
    border-bottom-right-radius: @roundness;
    border-bottom-left-radius: @roundness;

    width: 100%;
    height: 50%;

    background-repeat: no-repeat;
    background-size: cover;
  }

  // Конечные элементы

  /* Ссылка (на весь блок поверх) */
  a.mcard__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 9999999;
  }

  /* Заголовок */
  h3.mcard__heading {
    margin-bottom: 15px;
  }

  /* Описание */
  p.mcard__description {
    font-size: 18px;

    margin-bottom: 0;

    word-break: break-word;

    height: 50px;

    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative;
    /* use this value to count block height */
    line-height: 21px;
    /* max-height = line-height (21) * lines max number (3) */
    max-height: 63px;
    /* place for '...' */
    //margin-right: -1em;
    //padding-right: 1em;

    &.overflown {
      /* create the ... */
      &:after {
        content: '...';
      }

      // TODO: Use jQuery to add the ellipsis:
      // $.fn.overflown=function(){var e=this[0];return e.scrollHeight>e.clientHeight||e.scrollWidth>e.clientWidth;}
    }
  }

  /* Действие */
  .mcard__action {
    font-size: 20px;
    line-height: 23px;

    color: @color_text_light;

    /* Действие, изображённое символом "плюс" */
    &.symbol {
      border-radius: @roundness;

      padding: 4px;
      padding-right: 6px;
      padding-top: 6px;

      margin-left: -4px; /* compensation of padding-left */

      &:before {
        content: '+';
        color: @color_text_light;

        margin-right: 4px;

        font-weight: 500;
        font-size: 40px;
        vertical-align: bottom;
      }
    }

    /* Вспомогательный текст */
    .mcard__action__help-text {
      color: @color_text_light;

      font-size: 22px;
      line-height: 26px;
    }
  }

  /* ==== HOVERS ==== */

  &:hover {
    cursor: pointer;

    .mcard__action {
      text-decoration: none;

      &.symbol {
        background-color: #DFB05A;
      }
    }
  }

  /* ==== MEDIA QUERIES ==== */

  // Large devices (desktops, 992px and up)
  @media (min-width: 768px) {
    height: 320px;

    p.mcard__description {
      height: auto; /* ie 11 */
      height: initial;
      max-height: 8em;
    }
  }
}