.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loadable-list {
  position: relative;

  .loadable-list__overlay {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 100%;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) -11.1%, #FFFFFF 83.78%);
    display: none;
  }

  &.not-loaded {
    .loadable-list__overlay {
      display: block;
    }
  }
}

.gradient-overlay {
  &::after {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.0001) 0%, #000000 100%);
    opacity: .6;

    z-index: 1;
  }
}