.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loadable-list {
  position: relative;

  .loadable-list__overlay {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 100%;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) -11.1%, #FFFFFF 83.78%);
    display: none;
  }

  &.not-loaded {
    .loadable-list__overlay {
      display: block;
    }
  }
}

.gradient-overlay {
  &::after {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border-radius: @roundness;

    background-image: @grad_slide;
    opacity: .6;

    z-index: 1;
  }

  /* [grey->transparent] to [top->bottom] */
  &.gradient-mcard {
    &::after {
      background-image: @grad_mcard;
      opacity: 1;
    }
  }

  /* [black->transparent] to [left->right] */
  &.gradient-slide {
    &::after {
      background-image: @grad_slide;
      opacity: .6;
    }
  }

  /* [black->transparent] to [bottom->top] */
  &.gradient-mcard_hist {
    &::after {
      background-image: @grad_mcard_hist;
      opacity: .8;
    }
  }

  &.gradient-mcard_quad {
    &::after {
      background-image: @grad_mcard_quad;
      opacity: 1;
    }
  }

  &.gradient-cover {
    &::after {
      background-image: @grad_cover;
      opacity: .6;
    }
  }
}