@hdr_mt_xs: 20px;

body.main-bg {
  background-color: @color_background;
}

body.noscroll {
  height: 100vh;
  overflow: hidden;
}

section.container, footer.container {
  margin-bottom: 50px;
  padding: 0;

  position: relative;

  /* Dimmer */
  &::before {
    content: '';

    background-color: #000000;
    opacity: 0;
    visibility: hidden;

    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999999999;

    transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
}

section.container {
  background-color: #FFFFFF;
  border-radius: @roundness;
  //@media (max-width: 575.99px) {border-radius:  @roundness / 2;}

  &.container_nobg {
    background-color: transparent;
  }

  &.container_ctrl {
    background-color: transparent;
    margin-bottom: 40px;
  }

  &.container_topbar-abs {
    height: 60px;
    position: relative;
    z-index: 999999999999;

    .topbar {
      position: absolute;
      width: 100%;
    }
  }

  &.container_dimmed {
    &::before {
      visibility: visible;
      opacity: .2;
    }
  }
}

header.container {
  position: relative;

  margin-top: 40px; // used!
  margin-bottom: 40px;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer.container {
  padding: 0 40px;
}

@media (min-width: 1400px) {
  section.container, header.container, footer.container {
    max-width: 1240px;
  }
}

@media (min-width: @md_from) {
  section.container {
    &.container_nobg-md {
      background-color: transparent;
    }
  }
}

@media (max-width: @xs_to) {
  body.noscroll-xs {
    height: 100vh;
    overflow: hidden;
  }

  header.container {
    margin-top: @hdr_mt_xs;
  }

  section.container, header.container, footer.container {
    max-width: 355px; // 375 - 20px
    margin-bottom: 15px;
  }

  footer.container {
    padding: 0;
  }

  section.container {
    &.container_ctrl {
      margin-bottom: 10px;
    }
  }
}

/* Global constraints */

body {
  min-width: 375px;
}