body.main-bg {
  background-color: @color_background;
}

section.container, footer.container {
  margin-bottom: 50px;
  padding: 0 40px;
}

section.container {
  background-color: #FFFFFF;
  border-radius: @roundness;
}

@media (min-width: 1400px) {
  section.container, footer.container {
    max-width: 1240px;
  }
}