@import "font";

@p_line-height: 30px;

/**
  Установки текста
 */

body {
  font-family: 'Gilroy', sans-serif;
}

h1, h2, h3, h4 {
  width: 100%;

  span.aux {
    font-weight: 500;
  }
}

h1, h2, h3, h4, p, span {
  color: @color_text_dark;

  &.light {
    color: @color_text_light;
  }
}

/* Заголовки */
h1, h2 {
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 40px;
  line-height: 47px;
}

/* Заголовки мелких блоков */
h3 {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;

  &.text-section {
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: .75px;
  }
}

/* Стандартный текст */
p {
  font-size: 25px;
  line-height: @p_line-height;
  font-weight: 500;  /* по perfect pixel этой строчки быть не должно*/

  b {
    font-weight: 600;
  }

  /* Уменьшенный */
  &.text-small {
    font-size: 20px;
    line-height: 25px;
  }

  &.oneword {
    word-spacing: 60px;
    width: 60px;
  }
}

span {
  color: @color_text_dark;

  &.signature {
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
  }

  &.comment {
    font-size: 20px;
    line-height: 23px;

    opacity: .5;

    &.comment_bold {
      font-weight: bold;
    }
  }

  &.tag {
    color: @color_text_light;

    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    opacity: .6;

    &.tag_emph {
      color: @color_primary;
    }
  }
}