/**
  Цветовой набор
 */
@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy-Extrabold.otf');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy-Bold.otf');
  font-weight: bold;
  /* 700 */
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy-Medium.otf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy-Light.otf');
  font-weight: normal;
  /* 400 */
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy-Light.otf');
  font-weight: 300;
  font-style: normal;
}
/**
  Установки текста
 */
body {
  font-family: 'Gilroy', sans-serif;
}
h1,
h2,
h3,
h4 {
  width: 100%;
}
h1,
h2,
h3,
h4,
p {
  color: #232323;
}
h1.light,
h2.light,
h3.light,
h4.light,
p.light {
  color: #FFFFFF;
}
/* Заголовки */
h1,
h2 {
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 40px;
  line-height: 47px;
}
/* Заголовки мелких блоков */
h3 {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
}
/* Стандартный текст */
p {
  font-size: 25px;
  line-height: 30px;
  font-weight: 500;
  /* по perfect pixel этой строчки быть не должно*/
  /* Уменьшенный */
}
p.text-small {
  font-size: 20px;
  line-height: 25px;
}
span {
  color: #232323;
}
span.signature {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
}
span.comment {
  font-size: 20px;
  line-height: 23px;
  opacity: 0.5;
}
/**
  width = 100% / 7 column-number = 14.285714285714285714285714285714%
 */
@media (min-width: 576px) {
  .seven-cols .col-sm-1 {
    max-width: 14.28571429%;
    *max-width: 14.28571429%;
    flex: 0 0 14.28571429%;
  }
}
@media (min-width: 768px) {
  .seven-cols .col-sm-1,
  .seven-cols .col-md-1 {
    max-width: 14.28571429%;
    *max-width: 14.28571429%;
    flex: 0 0 14.28571429%;
  }
}
@media (min-width: 992px) {
  .seven-cols .col-sm-1,
  .seven-cols .col-md-1,
  .seven-cols .col-lg-1 {
    max-width: 14.28571429%;
    *max-width: 14.28571429%;
    flex: 0 0 14.28571429%;
  }
}
/**
  Блок "Карточка"
 */
.mcard {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(35, 35, 35, 0.7) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 15px 0 15px 0;
  border: none;
  border-radius: 10px;
  height: 200px;
  /** Элементы-контейнеры **/
  /** Конечные элементы **/
}
.mcard .mcard__content {
  padding: 22px;
}
.mcard .mcard__actions {
  position: absolute;
  bottom: 22px;
  padding: 22px;
}
.mcard h3.mcard__heading {
  padding-bottom: 15px;
}
.mcard p.mcard__description {
  font-size: 18px;
  margin-bottom: 0;
  word-break: break-word;
  height: 50px;
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  line-height: 1em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 1.9em;
  /* place for '...' */
}
.mcard p.mcard__description.overflown {
  /* create the ... */
}
.mcard p.mcard__description.overflown:after {
  content: '...';
}
.mcard a.mcard__action {
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}
.mcard a.mcard__action.symbol {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 50px;
  vertical-align: bottom;
}
.mcard a.mcard__action.symbol:hover {
  text-decoration: none;
}
@media (min-width: 768px) {
  .mcard {
    height: 320px;
  }
  .mcard p.mcard__description {
    height: initial;
    max-height: none;
  }
}
.mcard.mcard_bottomed .mcard__content {
  position: absolute;
  bottom: 22px;
  width: calc(100% - 30px);
}
.mcard.mcard_bottomed .mcard__actions {
  position: absolute;
  top: 0;
}
.cal {
  /* medium */
  /* smaller */
}
.cal .cal__event {
  width: 100%;
  height: 180px;
  border: solid 1px black;
  margin: 0 0 10px 0;
}
@media (max-width: 991.98px) {
  .cal .cal__event {
    width: 170px;
    height: 80px;
    margin: 0 5px;
    display: inline-block;
  }
}
.cal {
  /* smaller */
}
.cal .cal__day {
  width: 100%;
  height: 60px;
  border: solid 1px black;
  margin: 5px 0;
}
@media (max-width: 991.98px) {
  .cal .cal__day {
    width: 100%;
    height: 80px;
    margin: 0 5px;
    display: inline-block;
  }
}
.cal .cal__details_wrap {
  padding: 5px;
}
/**
  Блок "Календарь"
 */
.cal .cal__col {
  padding: 5px;
}
.cal .cal__col.cal__col_of {
  padding: 5px;
  overflow-x: scroll;
  white-space: nowrap;
}
.eventcard {
  border: solid 1px black;
}
