/**
  Цветовой набор
 */
body.main-bg {
  background-color: #004645;
}
section.container,
footer.container {
  margin-bottom: 50px;
  padding: 0;
}
section.container {
  background-color: #FFFFFF;
  border-radius: 10px;
}
section.container.container_ctrl {
  background-color: transparent;
  margin-bottom: 40px;
}
header.container {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer.container {
  padding: 0 40px;
}
@media (min-width: 1400px) {
  section.container,
  header.container,
  footer.container {
    max-width: 1240px;
  }
}
@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy/Gilroy-Extrabold.eot');
  src: url('../assets/fonts/Gilroy/Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Gilroy/Gilroy-Extrabold.woff2') format('woff2'), url('../assets/fonts/Gilroy/Gilroy-Extrabold.woff') format('woff'), url('../assets/fonts/Gilroy/Gilroy-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy/Gilroy-UltraLightItalic.eot');
  src: url('../assets/fonts/Gilroy/Gilroy-UltraLightItalic.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Gilroy/Gilroy-UltraLightItalic.woff2') format('woff2'), url('../assets/fonts/Gilroy/Gilroy-UltraLightItalic.woff') format('woff'), url('../assets/fonts/Gilroy/Gilroy-UltraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy/Gilroy-Regular.eot');
  src: url('../assets/fonts/Gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Gilroy/Gilroy-Regular.woff2') format('woff2'), url('../assets/fonts/Gilroy/Gilroy-Regular.woff') format('woff'), url('../assets/fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  /* 400 */
}
@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy/Gilroy-BoldItalic.eot');
  src: url('../assets/fonts/Gilroy/Gilroy-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Gilroy/Gilroy-BoldItalic.woff2') format('woff2'), url('../assets/fonts/Gilroy/Gilroy-BoldItalic.woff') format('woff'), url('../assets/fonts/Gilroy/Gilroy-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  /* 700 */
  font-style: italic;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy/Gilroy-Light.eot');
  src: url('../assets/fonts/Gilroy/Gilroy-Light.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Gilroy/Gilroy-Light.woff2') format('woff2'), url('../assets/fonts/Gilroy/Gilroy-Light.woff') format('woff'), url('../assets/fonts/Gilroy/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy/Gilroy-SemiboldItalic.eot');
  src: url('../assets/fonts/Gilroy/Gilroy-SemiboldItalic.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Gilroy/Gilroy-SemiboldItalic.woff2') format('woff2'), url('../assets/fonts/Gilroy/Gilroy-SemiboldItalic.woff') format('woff'), url('../assets/fonts/Gilroy/Gilroy-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy/Gilroy-Black.eot');
  src: url('../assets/fonts/Gilroy/Gilroy-Black.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Gilroy/Gilroy-Black.woff2') format('woff2'), url('../assets/fonts/Gilroy/Gilroy-Black.woff') format('woff'), url('../assets/fonts/Gilroy/Gilroy-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy/Gilroy-Semibold.eot');
  src: url('../assets/fonts/Gilroy/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Gilroy/Gilroy-Semibold.woff2') format('woff2'), url('../assets/fonts/Gilroy/Gilroy-Semibold.woff') format('woff'), url('../assets/fonts/Gilroy/Gilroy-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy/Gilroy-LightItalic.eot');
  src: url('../assets/fonts/Gilroy/Gilroy-LightItalic.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Gilroy/Gilroy-LightItalic.woff2') format('woff2'), url('../assets/fonts/Gilroy/Gilroy-LightItalic.woff') format('woff'), url('../assets/fonts/Gilroy/Gilroy-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy/Gilroy-ExtraboldItalic.eot');
  src: url('../assets/fonts/Gilroy/Gilroy-ExtraboldItalic.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Gilroy/Gilroy-ExtraboldItalic.woff2') format('woff2'), url('../assets/fonts/Gilroy/Gilroy-ExtraboldItalic.woff') format('woff'), url('../assets/fonts/Gilroy/Gilroy-ExtraboldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy/Gilroy-Heavy.eot');
  src: url('../assets/fonts/Gilroy/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Gilroy/Gilroy-Heavy.woff2') format('woff2'), url('../assets/fonts/Gilroy/Gilroy-Heavy.woff') format('woff'), url('../assets/fonts/Gilroy/Gilroy-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy/Gilroy-ThinItalic.eot');
  src: url('../assets/fonts/Gilroy/Gilroy-ThinItalic.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Gilroy/Gilroy-ThinItalic.woff2') format('woff2'), url('../assets/fonts/Gilroy/Gilroy-ThinItalic.woff') format('woff'), url('../assets/fonts/Gilroy/Gilroy-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy/Gilroy-BlackItalic.eot');
  src: url('../assets/fonts/Gilroy/Gilroy-BlackItalic.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Gilroy/Gilroy-BlackItalic.woff2') format('woff2'), url('../assets/fonts/Gilroy/Gilroy-BlackItalic.woff') format('woff'), url('../assets/fonts/Gilroy/Gilroy-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy/Gilroy-HeavyItalic.eot');
  src: url('../assets/fonts/Gilroy/Gilroy-HeavyItalic.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Gilroy/Gilroy-HeavyItalic.woff2') format('woff2'), url('../assets/fonts/Gilroy/Gilroy-HeavyItalic.woff') format('woff'), url('../assets/fonts/Gilroy/Gilroy-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy/Gilroy-UltraLight.eot');
  src: url('../assets/fonts/Gilroy/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Gilroy/Gilroy-UltraLight.woff2') format('woff2'), url('../assets/fonts/Gilroy/Gilroy-UltraLight.woff') format('woff'), url('../assets/fonts/Gilroy/Gilroy-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy/Gilroy-Thin.eot');
  src: url('../assets/fonts/Gilroy/Gilroy-Thin.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Gilroy/Gilroy-Thin.woff2') format('woff2'), url('../assets/fonts/Gilroy/Gilroy-Thin.woff') format('woff'), url('../assets/fonts/Gilroy/Gilroy-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy/Gilroy-Medium.eot');
  src: url('../assets/fonts/Gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Gilroy/Gilroy-Medium.woff2') format('woff2'), url('../assets/fonts/Gilroy/Gilroy-Medium.woff') format('woff'), url('../assets/fonts/Gilroy/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy/Gilroy-Bold.eot');
  src: url('../assets/fonts/Gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Gilroy/Gilroy-Bold.woff2') format('woff2'), url('../assets/fonts/Gilroy/Gilroy-Bold.woff') format('woff'), url('../assets/fonts/Gilroy/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy/Gilroy-RegularItalic.eot');
  src: url('../assets/fonts/Gilroy/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Gilroy/Gilroy-RegularItalic.woff2') format('woff2'), url('../assets/fonts/Gilroy/Gilroy-RegularItalic.woff') format('woff'), url('../assets/fonts/Gilroy/Gilroy-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy/Gilroy-MediumItalic.eot');
  src: url('../assets/fonts/Gilroy/Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Gilroy/Gilroy-MediumItalic.woff2') format('woff2'), url('../assets/fonts/Gilroy/Gilroy-MediumItalic.woff') format('woff'), url('../assets/fonts/Gilroy/Gilroy-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
/**
  Установки текста
 */
body {
  font-family: 'Gilroy', sans-serif;
}
h1,
h2,
h3,
h4 {
  width: 100%;
}
h1,
h2,
h3,
h4,
p,
span {
  color: #232323;
}
h1.light,
h2.light,
h3.light,
h4.light,
p.light,
span.light {
  color: #FFFFFF;
}
/* Заголовки */
h1,
h2 {
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 40px;
  line-height: 47px;
}
/* Заголовки мелких блоков */
h3 {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
}
h3.text-section {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.75px;
}
/* Стандартный текст */
p {
  font-size: 25px;
  line-height: 30px;
  font-weight: 500;
  /* по perfect pixel этой строчки быть не должно*/
  /* Уменьшенный */
}
p.text-small {
  font-size: 20px;
  line-height: 25px;
}
p.oneword {
  word-spacing: 60px;
  width: 60px;
}
span {
  color: #232323;
}
span.signature {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
}
span.comment {
  font-size: 20px;
  line-height: 23px;
  opacity: 0.5;
}
span.comment.comment_bold {
  font-weight: bold;
}
@font-face {
  font-family: 'sobytie-icons';
  src: url('../assets/fonts/sobytie-icons/sobytie-icons.eot?5803638');
  src: url('../assets/fonts/sobytie-icons/sobytie-icons.eot?5803638#iefix') format('embedded-opentype'), url('../assets/fonts/sobytie-icons/sobytie-icons.woff2?5803638') format('woff2'), url('../assets/fonts/sobytie-icons/sobytie-icons.woff?5803638') format('woff'), url('../assets/fonts/sobytie-icons/sobytie-icons.ttf?5803638') format('truetype'), url('../assets/fonts/sobytie-icons/sobytie-icons.svg?5803638#sobytie-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'sobytie-icons';
    src: url('../font/sobytie-icons.svg?5803638#sobytie-icons') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "sobytie-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-sob-triangle-bwd:before {
  content: '\e801';
}
/* '' */
.icon-sob-triangle-fwd:before {
  content: '\e801';
  transform: rotate(180deg);
}
/* '' */
.icon-sob-burger:before {
  content: '\e802';
}
/* '' */
.icon-sob-fb:before {
  content: '\e803';
}
/* '' */
.icon-sob-geotag:before {
  content: '\e807';
}
/* '' */
.icon-sob-ig:before {
  content: '\e808';
}
/* '' */
.icon-sob-mail:before {
  content: '\e80c';
  margin-right: 0.5em;
}
/* '' */
.icon-sob-man:before {
  content: '\e80d';
}
/* '' */
.icon-sob-phone:before {
  content: '\e80f';
}
/* '' */
.icon-sob-plus:before {
  content: '\e810';
}
/* '' */
.icon-sob-quote-left:before {
  content: '\e811';
}
/* '' */
.icon-sob-quote-right:before {
  content: '\e812';
}
/* '' */
.icon-sob-search:before {
  content: '\e813';
}
/* '' */
.icon-sob-time:before {
  content: '\e814';
}
/* '' */
.icon.icon_default {
  color: #004645;
  font-size: 30px;
}
.icon.icon_menu {
  margin: 0 5px;
  color: #FFFFFF;
  font-size: 22px;
}
.icon.icon_ctrl {
  margin: 0 10px 0 0;
}
.icon.icon_eventcard {
  margin: 0 5px;
}
/**
  width = 100% / 7 column-number = 14.285714285714285714285714285714%
 */
@media (min-width: 576px) {
  .seven-cols .col-sm-1 {
    max-width: 14.28571429%;
    *max-width: 14.28571429%;
    flex: 0 0 14.28571429%;
  }
}
@media (min-width: 768px) {
  .seven-cols .col-sm-1,
  .seven-cols .col-md-1 {
    max-width: 14.28571429%;
    *max-width: 14.28571429%;
    flex: 0 0 14.28571429%;
  }
}
@media (min-width: 992px) {
  .seven-cols .col-sm-1,
  .seven-cols .col-md-1,
  .seven-cols .col-lg-1 {
    max-width: 14.28571429%;
    *max-width: 14.28571429%;
    flex: 0 0 14.28571429%;
  }
}
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.loadable-list {
  position: relative;
}
.loadable-list .loadable-list__overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) -11.1%, #FFFFFF 83.78%);
  display: none;
}
.loadable-list.not-loaded .loadable-list__overlay {
  display: block;
}
.gradient-overlay {
  /* [grey->transparent] to [top->bottom] */
  /* [black->transparent] to [left->right] */
  /* [black->transparent] to [bottom->top] */
}
.gradient-overlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.0001) 0%, #000000 100%);
  opacity: 0.6;
  z-index: 1;
}
.gradient-overlay.gradient-mcard::after {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.0001) 0%, rgba(35, 35, 35, 0.7) 100%);
  opacity: 1;
}
.gradient-overlay.gradient-slide::after {
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.0001) 0%, #000000 100%);
  opacity: 0.6;
}
.gradient-overlay.gradient-mcard_hist::after {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 19.62%, #000000 68.11%);
  opacity: 0.8;
}
.gradient-overlay.gradient-mcard_quad::after {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 39.38%, rgba(0, 0, 0, 0.6) 87.85%);
  opacity: 1;
}
.gradient-overlay.gradient-cover::after {
  background-image: linear-gradient(352.77deg, rgba(0, 0, 0, 0.0001) -0.51%, #000000 83.41%);
  opacity: 0.6;
}
.blk {
  padding: 50px 40px;
  /* "Intro" block */
  /* "Services" block */
  /* Global modifiers */
}
.blk.blk-intro {
  padding: 0;
}
.blk.blk-intro .blk-intro__text {
  padding: 50px 40px;
  padding-right: 0;
  overflow: hidden;
}
.blk.blk-intro .blk-intro__img {
  padding: 50px 40px;
  padding-left: 0;
}
.blk.blk-intro p.blk-intro__text-desc {
  margin-top: 22px;
  margin-right: 125px;
}
.blk.blk-intro p.blk-intro__text-lower {
  margin-top: 80px;
  margin-bottom: 0;
}
.blk.blk-intro p.blk-intro__text-citation {
  position: relative;
  font-size: 30px;
  line-height: 35px;
  font-style: italic;
  font-weight: 700;
  margin: 56px 0;
  width: 531px;
  z-index: 1;
}
.blk.blk-intro p.blk-intro__text-citation::before {
  position: absolute;
  left: -50px;
  top: 0;
  font-size: 80px;
  font-style: normal;
  content: '\e811';
  font-family: 'sobytie-icons';
  color: #CCD7D7;
  z-index: -5;
  transform: rotate(180deg);
}
.blk.blk-intro p.blk-intro__text-citation::after {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 80px;
  font-style: normal;
  content: '\e811';
  font-family: 'sobytie-icons';
  color: #CCD7D7;
  z-index: -10;
}
.blk.blk-intro .blk-intro__text-comm {
  margin-left: 20px;
}
.blk.blk-intro .blk-intro__img-avatar img {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 10px;
}
.blk.blk-services {
  padding-bottom: 0;
}
.blk.blk-events {
  padding-bottom: 8px;
}
.blk.blk-events .blk-events__text-main {
  padding-right: 40px;
}
.blk.blk-events .blk-events__slider_wrap {
  padding-left: 0;
  padding-right: 15px;
}
.blk.blk-gallery {
  padding-bottom: 0;
}
.blk.blk-gallery .blk-gallery__overlay {
  left: 0;
  height: 220px;
}
@media (min-width: 768px) {
  .blk.blk-gallery .blk-gallery__overlay {
    height: 340px;
  }
}
.blk.blk-gallery .blk-gallery__btn-wrap {
  position: absolute;
  bottom: 145.45454545px;
  left: 0;
  text-align: center;
  width: 100%;
}
.blk.blk-gallery .blk-gallery__btn {
  padding: 0 25px;
  font-weight: 500;
}
.blk.blk-slidertop {
  padding: 0;
  height: 560px;
  position: relative;
  overflow: hidden;
}
.blk.blk-slidertop .blk-slidertop__content {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 50px 40px;
  z-index: 2;
}
.blk.blk-slidertop .blk-slidertop__content h1.blk-slidertop__heading {
  margin-bottom: 10px;
}
.blk.blk-slidertop .blk-slidertop__content p.blk-slidertop__text {
  width: 485px;
}
.blk.blk-slidertop .blk-slidertop__content p.blk-slidertop__sub {
  position: absolute;
  bottom: 40px;
  left: 50px;
  padding: 0;
}
.blk.blk-profile p.blk-profile__text {
  font-size: 22px;
  line-height: 27px;
  max-width: 531px;
}
.blk.blk-cover {
  position: relative;
  width: 100%;
  padding: 0;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.blk.blk-cover .blk-cover__content {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: 50px 40px;
}
.blk.blk-cover .blk-cover__heading {
  margin-bottom: 40px;
}
.blk.blk-cover p.blk-cover__text-desc {
  width: 733px;
  margin: 0;
}
.blk.blk-team .blk-team__item {
  padding: 20px;
}
.blk.blk-team .blk-team__card {
  margin: 0;
}
.blk.blk-contacts .blk-contacts__text {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
}
.blk.blk-contacts .blk-contacts__text-line {
  width: 100%;
  display: block;
}
.blk.blk-contacts .blk-contacts__call {
  margin-bottom: 30px;
}
.blk.blk-contacts .blk-contacts__bottom {
  padding-top: 16px;
}
.blk.blk-contacts .blk-contacts__suggestion {
  padding-top: 30px;
}
.blk.blk-contacts .blk-contacts__map {
  width: 100%;
  height: 225px;
}
.btn {
  border-radius: 10px;
  font-size: 20px;
  line-height: 45px;
  padding: 0 55px;
  color: black;
  /* For raw usage (not needed) */
  /* Suppress default Bootstrap behavior */
  transition: none;
  border-color: transparent;
  border-width: 3px;
  border-style: solid;
}
.btn:hover {
  color: black;
  text-decoration: none;
}
.btn.btn-primary {
  background-color: #F2C75C;
  color: white;
  border-color: #F2C75C;
}
.btn.btn-primary:hover {
  color: #F2C75C;
  background-color: #FFFFFF;
  border-width: 3px;
}
.btn.btn-primary:active {
  color: white !important;
  background-color: #F2C75C !important;
}
.btn.btn-secondary {
  background-color: #CCD7D7;
  color: #004645;
}
.btn.btn-secondary:hover {
  color: #004645;
  border-color: transparent !important;
}
.btn.btn-secondary:active {
  color: #004645 !important;
  background-color: #CCD7D7 !important;
  border-color: transparent !important;
}
.btn.btn-inactive {
  background-color: #CCD7D7;
  color: white;
}
.btn.btn-inactive:hover {
  color: white;
}
.btn.btn-inactive:active {
  color: white !important;
  background-color: #CCD7D7 !important;
}
.btn.btn-short {
  padding: 0 35px;
}
.btn.btn-wide {
  padding: 0 70px;
}
.btn.btn-wider {
  width: 100%;
}
.social .social-item .icon:hover {
  color: #F2C75C;
}
.headerlogo img.headerlogo__img {
  width: 140px;
}
.headernav a.headernav__item {
  margin: 0 15px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1.2px;
  text-align: center;
}
.headernav a.headernav__item.headernav__item_selected,
.headernav a.headernav__item:hover {
  color: #F2C75C;
  text-decoration: none;
  font-weight: 700;
}
.headersocial a.headersocial__item .icon:hover {
  color: #F2C75C;
}
.footernav {
  padding: 50px 0;
  padding-top: 0;
}
.footernav ul.footernav-menu {
  margin: 0;
  padding: 0;
  /* Elements */
}
.footernav ul.footernav-menu li {
  list-style-type: none;
}
.footernav ul.footernav-menu .footernav-menu__heading {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 6px;
  /* 15 in Figma */
  letter-spacing: 1px;
  opacity: 0.5;
}
.footernav ul.footernav-menu .footernav-menu__item {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.footernav ul.footernav-menu .footernav-menu__item a {
  color: #FFFFFF;
}
.footercopy {
  margin-top: 40px;
  padding-top: 15px;
  padding-bottom: 30px;
  border-top: 1px solid;
  border-color: rgba(255, 255, 255, 0.5);
}
.footercopy .footercopy__left {
  border-right: 1px solid;
  border-color: rgba(255, 255, 255, 0.5);
  padding-right: 20px;
  padding-left: 0;
}
.footercopy span.footercopy__copyright {
  font-size: 20px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.5);
  float: left;
}
.footercopy span.footercopy__address {
  font-size: 20px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.5);
  float: right;
}
.footercopy span.footercopy__tel {
  font-size: 20px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.5);
  float: right;
}
.footercopy span.footercopy__tel a {
  color: rgba(255, 255, 255, 0.5);
}
.slider {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  /* Elements */
}
.slider .slider__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slider .slider__item.slider__bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slider .slider__bulletwrap {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 20px;
  z-index: 99999;
}
.slider .slider__bulletwrap:hover {
  cursor: default;
}
.slider .slider__bullet {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 2.5px;
  background-color: #FFFFFF;
  border-radius: 10px;
}
.slider .slider__bullet:hover,
.slider .slider__bullet.slider__bullet_active {
  background-color: #F2C75C;
}
.slider .slider__bullet:hover {
  cursor: pointer;
}
.pagectrl .pagectrl__back {
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}
/**
  Блок "Карточка"
 */
.mcard {
  position: relative;
  background-color: #F2C75C;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.0001) 0%, rgba(35, 35, 35, 0.7) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 15px 0 15px 0;
  border: none;
  border-radius: 10px;
  height: 200px;
  /** Элементы-контейнеры **/
  /** Конечные элементы **/
}
.mcard .mcard__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
}
.mcard:hover {
  cursor: pointer;
}
.mcard:hover .mcard__action {
  text-decoration: none;
}
.mcard:hover .mcard__action.symbol {
  background-color: #DFB05A;
}
.mcard .mcard__content {
  padding: 25px;
}
.mcard .mcard__actions {
  position: absolute;
  bottom: 22px;
  padding: 22px;
}
.mcard h3.mcard__heading {
  margin-bottom: 15px;
}
.mcard p.mcard__description {
  font-size: 18px;
  margin-bottom: 0;
  word-break: break-word;
  height: 50px;
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  line-height: 1em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 3em;
  /* place for '...' */
}
.mcard p.mcard__description.overflown {
  /* create the ... */
}
.mcard p.mcard__description.overflown:after {
  content: '...';
}
.mcard .mcard__action {
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}
.mcard .mcard__action.symbol {
  border-radius: 10px;
  padding: 4px;
  padding-right: 6px;
  padding-top: 6px;
  margin-left: -4px;
  /* compensation of padding-left */
}
.mcard .mcard__action.symbol:before {
  content: '+';
  color: #FFFFFF;
  margin-right: 4px;
  font-weight: 500;
  font-size: 40px;
  vertical-align: bottom;
}
.mcard .mcard__action .mcard__action__help-text {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .mcard {
    height: 320px;
  }
  .mcard p.mcard__description {
    height: auto;
    /* ie 11 */
    height: initial;
    max-height: 8em;
  }
}
.mcard.mcard_bottomed .mcard__content {
  position: absolute;
  bottom: 22px;
  width: calc(100% - 30px);
}
.mcard.mcard_bottomed .mcard__actions {
  position: absolute;
  top: 0;
}
.mcard.mcard_alt {
  height: 150px;
}
.mcard.mcard_alt h3.mcard__heading {
  margin-bottom: 10px;
}
.mcard.mcard_alt .mcard__content {
  padding-left: 30px;
}
.mcard.mcard_alt:hover {
  background-image: none !important;
  background-color: #F2C75C;
}
@media (min-width: 768px) {
  .mcard.mcard_alt p.mcard__description {
    height: auto;
    /* ie 11 */
    height: initial;
    max-height: 4em;
  }
}
.mcard.mcard_quad {
  margin: 0;
  padding-top: 100%;
  width: 100%;
  height: 0;
}
.mcard.mcard_quad.mcard_colored .mcard__content:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: none !important;
  background-color: #F2C75C;
  opacity: 0.8;
  border-radius: 10px;
  z-index: 1;
}
.mcard.mcard_quad .mcard__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mcard.mcard_quad p.mcard__name {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  z-index: 2;
}
.cal {
  /* To hover */
  /* medium */
  /* smaller */
}
.cal .cal__event {
  width: 100%;
  height: 180px;
  position: relative;
  margin: 0 0 10px 0;
  color: #004645;
  background-color: #E5EBEB;
  border-radius: 10px;
  overflow: hidden;
}
.cal .cal__event .cal__event__title {
  float: right;
  padding: 10px;
  text-align: right;
  white-space: normal;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  width: 100%;
  max-height: 90px;
  word-break: inherit;
  /* Experimental! */
  overflow: hidden;
}
.cal .cal__event.cal__event_closed {
  color: #7F33AB;
  background-color: #F6F1FA;
  border-left: solid #7F33AB 10px;
}
.cal .cal__event.cal__event_cancelled {
  color: #FF5E4C;
  background-color: #FFEEED;
  border-left: solid #FF5E4C 10px;
}
.cal .cal__event .cal__event__details {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  padding: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
}
.cal .cal__event .cal__event__details .cal__event_detail {
  padding: 3px 0;
  text-align: right;
  width: 100%;
  white-space: normal;
  /* Ellipsis */
}
.cal .cal__event {
  padding: 3px /* compensation of hover border */ 3px 3px 0;
}
.cal .cal__event:hover {
  padding: 0;
  background-color: #FFFFFF;
  border: solid 3px #F2C75C;
  cursor: pointer;
}
.cal .cal__event:hover .cal__event__title {
  color: #F2C75C;
}
.cal .cal__event:hover .cal__event__details {
  padding-bottom: 7px;
  padding-right: 7px;
}
@media (max-width: 991.98px) {
  .cal .cal__event {
    width: 170px;
    height: 80px;
    margin: 0 5px;
    display: inline-block;
  }
}
.cal {
  /* smaller */
}
.cal .cal__day {
  width: 100%;
  height: 40px;
  text-align: right;
  padding: 12px 12px 0 0;
  margin: 0 6px;
  color: #004645;
  display: table;
  border-right: solid 1px rgba(0, 55, 55, 0.3);
  /* smaller */
}
@media (max-width: 991.98px) {
  .cal .cal__day {
    border-left: none;
  }
}
.cal .cal__col_day:last-child .cal__day {
  border: none;
}
.cal .cal__wd {
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
  opacity: 0.5;
  color: #004645;
  width: 60%;
  display: table-cell;
  vertical-align: bottom;
  padding-bottom: 8px;
}
.cal .cal__dn {
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
  opacity: 0.7;
  color: #004645;
  display: table-cell;
  vertical-align: middle;
}
@media (max-width: 991.98px) {
  .cal .cal__day {
    width: 100%;
    height: 80px;
    margin: 0 5px;
    display: inline-block;
  }
  .cal .cal__wd {
    width: 25%;
  }
  .cal .cal__dn {
    width: 25%;
  }
}
.cal .cal__details_wrap {
  padding: 5px 3px;
}
.cal__bg {
  position: absolute;
  top: 0;
  left: 3px;
  width: calc(100% - 6px);
  height: calc(100% + 5px);
  background-color: #E5EBEB;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.cal__bg::after,
.cal__bg::before {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 0;
  background-size: cover;
  image-rendering: optimizeSpeed;
  /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;
  /* Firefox                        */
  image-rendering: -o-crisp-edges;
  /* Opera                          */
  image-rendering: -webkit-optimize-contrast;
  /* Chrome (and eventually Safari) */
  image-rendering: pixelated;
  /* Chrome */
  image-rendering: optimize-contrast;
  /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;
}
.cal__bg::after {
  right: -10px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><path d='M 0 0 C 0 10 10 10 10 10 L 10 100 L 0 10 Z' fill='%23E5EBEB'></path></svg>");
}
.cal__bg::before {
  left: -10px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><path d='M 10 0 C 10 10 0 10 0 10 L 10 100 Z' fill='%23E5EBEB'></path></svg>");
}
.cal__col:first-child .cal__bg {
  width: calc(100% - 7px);
}
.cal__col:first-child .cal__bg::before {
  left: 0;
  bottom: -10px;
  background-color: #E5EBEB;
}
.cal__col:last-child .cal__bg::after {
  right: 0;
  bottom: -10px;
  background-color: #E5EBEB;
}
.cal__col_cancelled .cal__bg {
  background-color: #FFEEED;
}
.cal__col_cancelled .cal__bg::after {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><path d='M 0 0 C 0 10 10 10 10 10 L 10 100 L 0 10 Z' fill='%23FFEEED'></path></svg>");
}
.cal__col_cancelled:first-child .cal__bg {
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: #FF5E4C;
}
.cal__col_cancelled:first-child .cal__bg::before {
  left: -10px;
  background-color: #FF5E4C;
}
.cal__col_closed .cal__bg {
  background-color: #F6F1FA;
}
.cal__col_closed .cal__bg::after {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><path d='M 0 0 C 0 10 10 10 10 10 L 10 100 L 0 10 Z' fill='%23F6F1FA'></path></svg>");
}
.cal__col_closed:first-child .cal__bg {
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: #7F33AB;
}
.cal__col_closed:first-child .cal__bg::before {
  left: -10px;
  background-color: #7F33AB;
}
.cal .cal__legend {
  padding: 10px 0;
}
.cal .cal__legend .cal__legend-marker {
  font-size: 20px;
  line-height: 23px;
  display: inline;
  margin-right: 20px;
}
.cal .cal__legend .cal__legend-marker::before {
  content: '\25CF';
  vertical-align: -5px;
  margin-right: 10px;
  font-size: 40px;
}
.cal .cal__legend .cal__legend-marker.cal__legend-marker_closed {
  color: rgba(127, 51, 171, 0.7);
}
.cal .cal__legend .cal__legend-marker.cal__legend-marker_closed::before {
  color: #7F33AB;
}
.cal .cal__legend .cal__legend-marker.cal__legend-marker_cancelled {
  color: rgba(255, 94, 76, 0.7);
}
.cal .cal__legend .cal__legend-marker.cal__legend-marker_cancelled::before {
  color: #FF5E4C;
}
.cal .cal__legend a.cal__legend-next {
  font-size: 20px;
  line-height: 23px;
  color: #004645;
  float: right;
}
.cal .cal__legend a.cal__legend-next:hover {
  text-decoration: none;
}
.cal .cal__legend a.cal__legend-next:hover .icon {
  color: #F2C75C;
}
/**
  Блок "Календарь"
 */
.cal {
  /* Elements */
}
.cal .cal__col {
  padding: 10px 5px 5px 5px;
}
.cal .cal__col.cal__col_of {
  padding: 5px;
  white-space: nowrap;
}
.eventcard {
  background: #E5EBEB;
  border-radius: 10px;
  padding: 50px 40px;
  margin: 0;
  /* Elements */
  /* Textbox elements */
  /* Mediabox elements */
  /* Modifiers */
}
.eventcard h1,
.eventcard h2,
.eventcard h3,
.eventcard h4,
.eventcard p {
  color: #004645;
}
.eventcard .eventcard__textbox,
.eventcard .eventcard__mediabox {
  padding-right: 0;
  padding-left: 0;
}
.eventcard .eventcard__mediabox div {
  float: right;
}
.eventcard .eventcard__text {
  margin-bottom: 150px;
}
.eventcard .eventcard__props {
  position: absolute;
  bottom: 0;
  max-height: 130px;
}
.eventcard .eventcard__prop {
  margin: 0;
  margin-top: 20px;
}
.eventcard .eventcard__prop:first-child {
  margin-top: 0;
}
.eventcard .eventcard__pic {
  width: 460px;
  height: 368px;
  border-radius: 10px;
}
.eventcard .eventcard__button-bar {
  width: 460px;
  justify-content: space-between;
  padding-top: 40px;
}
.eventcard.eventcard_cancelled {
  background-color: #FFEEED;
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: #FF5E4C;
}
.eventcard.eventcard_closed {
  background-color: #F6F1FA;
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: #7F33AB;
}
.form {
  /* Elements */
  /* Modifiers */
}
.form .form__input {
  font-size: 20px;
  line-height: 30px;
  height: 50px;
  border-radius: 10px;
}
.form.form-fullwidth {
  justify-content: space-between;
}
.form.form-fullwidth .form__input {
  flex: 1;
}
.form.form_footer .form__input {
  color: #FFFFFF;
  border-width: 3px;
  border-color: rgba(255, 255, 255, 0.5);
  background-color: #004645;
  padding-left: 15px;
}
.form.form_footer .form__input::placeholder {
  color: #FFFFFF;
}
.form .form__input,
.form .form__submit {
  margin: 5px 0;
}
