/**
  Цветовой набор
 */

@color_text_dark: #232323;
@color_text_light: #FFFFFF;

@grad_mcard: linear-gradient(0deg, rgba(0, 0, 0, 0.0001) 0%, rgba(35, 35, 35, 0.7) 100%);
@grad_mcard_quad: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 39.38%, rgba(0, 0, 0, 0.6) 87.85%);
@grad_mcard_hist: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 19.62%, #000000 68.11%);

@grad_slide: linear-gradient(270deg, rgba(0, 0, 0, 0.0001) 0%, #000000 100%);
@grad_cover: linear-gradient(352.77deg, rgba(0, 0, 0, 0.0001) -0.51%, #000000 83.41%);

@color_background: #004645;
@color_inbox: #4D7373;

@color_default_fg: #004645;
@color_default_bg: #E5EBEB;

@color_closed_fg: #7F33AB;
@color_closed_bg: #F6F1FA;

@color_cancelled_fg: #FF5E4C;
@color_cancelled_bg: #FFEEED;

@color_primary:   #F2C75C;
@color_secondary: #CCD7D7;

@color_emph_bg: #F7F7F7;

@roundness: 10px;

@font_root: '../assets/fonts/';
@image_root: '../assets/images/';
@icon_root: '../assets/icons/';

/**
  Константы
 */

@xs_to: 575.98px;
@sm_to: 767.98px;
@md_to: 991.98px;
@lg_to: 1199.98px;

@sm_from: 576px;
@md_from: 768px;
@lg_from: 992px;
@xl_from: 1200px;