/**
  Цветовой набор
 */

@color_text_dark: #232323;
@color_text_light: #FFFFFF;

@grad_card_neutral: linear-gradient(0deg, rgba(0, 0, 0, 0.0001) 0%, rgba(35, 35, 35, 0.7) 100%);
//@grad_card_accent: linear-gradient(0deg, rgba(0, 0, 0, 0.0001) 0%, rgba(35, 35, 35, 0.7) 100%);

@color_background: #004645;
@color_inbox: #4D7373;

@color_default_fg: #003737;
@color_default_bg: #E5EBEB;

@color_closed_fg: #7F33AB;
@color_closed_bg: #F6F1FA;

@color_cancelled_fg: #EB8D52;
@color_cancelled_bg: #FEF7F3;

@color_primary:   #DFB05A;
@color_secondary: #CCD7D7;

@roundness: 10px;

@font_root: '../assets/fonts/';