<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../styles/main.css">

    <title>Buttons</title>
</head>
<body>
    <div class="container">
        <a href="#" class="btn btn-primary">Главная</a>
        <a href="#" class="btn btn-secondary">Вторая</a>
        <a href="#" class="btn btn-inactive">Неактивная</a>
    </div>
</body>
</html>