<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../styles/main.css">

    <title>Calendar</title>
</head>
<body>
    <div class="container">
        <h2 class="text-center">24 - 30 Июня</h2>

        <div class="cal row">
            <div class="col-2 col-lg-12">
                <div class="cal__table-head seven-cols row">
                    <div class="cal__col cal__col_day col-lg-1">
                        <div class="cal__day">
                            <span class="cal__wd">пн</span>
                            <span class="cal__dn">24</span>
                        </div>
                    </div>
                    <div class="cal__col cal__col_day col-lg-1">
                        <div class="cal__day">
                            <span class="cal__wd">вт</span>
                            <span class="cal__dn">25</span>
                        </div>
                    </div>
                    <div class="cal__col cal__col_day col-lg-1">
                        <div class="cal__day">
                            <span class="cal__wd">ср</span>
                            <span class="cal__dn">26</span>
                        </div>
                    </div>
                    <div class="cal__col cal__col_day col-lg-1">
                        <div class="cal__day">
                            <span class="cal__wd">чт</span>
                            <span class="cal__dn">27</span>
                        </div>
                    </div>
                    <div class="cal__col cal__col_day col-lg-1">
                        <div class="cal__day">
                            <span class="cal__wd">пт</span>
                            <span class="cal__dn">28</span>
                        </div>
                    </div>
                    <div class="cal__col cal__col_day col-lg-1">
                        <div class="cal__day">
                            <span class="cal__wd">сб</span>
                            <span class="cal__dn">29</span>
                        </div>
                    </div>
                    <div class="cal__col cal__col_day col-lg-1">
                        <div class="cal__day">
                            <span class="cal__wd">вс</span>
                            <span class="cal__dn">30</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-10 col-lg-12">
                <div class="cal__table seven-cols row">
                    <div class="cal__col cal__col_of col-lg-1">
                        <div class="cal__event cal__event_closed">
                            <div class="cal__event__title">
                                Арт-терапия
                            </div>
                            <div class="cal__event__details">
                                <div class="cal__event_detail">12:00</div>
                                <div class="cal__event_detail">Главный офис</div>
                            </div>
                        </div>
                        <div class="cal__event">
                            <div class="cal__event__title">
                                Личностный рост и креативность
                            </div>
                        </div>
                    </div>
                    <div class="cal__col cal__col_of col-lg-1">
                        <div class="cal__event cal__event_cancel">
                            <div class="cal__event__title">
                                Мастер класс «Стань успешнее»
                            </div>
                        </div>
                    </div>
                    <div class="cal__col cal__col_of col-lg-1">
                        <div class="cal__event">
                            <div class="cal__event__title">
                                Групповой тренинг личности
                            </div>
                        </div>
                    </div>
                    <div class="cal__col cal__col_of col-lg-1">
                        <div class="cal__event">
                            <div class="cal__event__title">
                                Групповой тренинг личности
                            </div>
                        </div>
                    </div>
                    <div class="cal__col cal__col_of col-lg-1">
                    </div>
                    <div class="cal__col cal__col_of col-lg-1">
                        <div class="cal__event">
                            <div class="cal__event__title">
                                Арт-терапия
                            </div>
                        </div>
                        <div class="cal__event">
                            <div class="cal__event__title">
                                Мастер-класс «Стань успешнее»
                            </div>
                        </div>
                        <div class="cal__event">
                            <div class="cal__event__title">
                                Арт-терапия
                            </div>
                        </div>
                    </div>
                    <div class="cal__col cal__col_of col-lg-1">
                        <div class="cal__event cal__event_cancel">
                            <div class="cal__event__title">
                                Личностный рост и креативность
                            </div>
                        </div>
                        <div class="cal__event">
                            <div class="cal__event__title">
                                Арт-терапия
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h2 class="text-center">Выбранное событие</h2>

        <div class="cal row">
            <div class="cal__table col-2 col-lg-12">
                <div class="seven-cols row">
                    <div class="cal__col cal__col_day cal__col_cancel col-lg-1">
                        <div class="cal__day">
                            <span class="cal__wd">пн</span>
                            <span class="cal__dn">24</span>
                        </div>
                    </div>
                    <div class="cal__col cal__col_day col-lg-1">
                        <div class="cal__day">
                            <div class="cal__bg"></div>
                            <span class="cal__wd">вт</span>
                            <span class="cal__dn">25</span>
                        </div>
                    </div>
                    <div class="cal__col cal__col_day col-lg-1">
                        <div class="cal__day">
                            <span class="cal__wd">ср</span>
                            <span class="cal__dn">26</span>
                        </div>
                    </div>
                    <div class="cal__col cal__col_day col-lg-1">
                        <div class="cal__bg"></div>
                        <div class="cal__day">
                            <span class="cal__wd">чт</span>
                            <span class="cal__dn">27</span>
                        </div>
                    </div>
                    <div class="cal__col cal__col_day col-lg-1">
                        <div class="cal__day">
                            <span class="cal__wd">пт</span>
                            <span class="cal__dn">28</span>
                        </div>
                    </div>
                    <div class="cal__col cal__col_day col-lg-1">
                        <div class="cal__day">
                            <span class="cal__wd">сб</span>
                            <span class="cal__dn">29</span>
                        </div>
                    </div>
                    <div class="cal__col cal__col_day col-lg-1">
                        <div class="cal__day">
                            <div class="cal__bg"></div>
                            <span class="cal__wd">вс</span>
                            <span class="cal__dn">30</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cal__details_wrap col-10 col-lg-12">
                <div class="cal__details cal__details_cancel eventcard">
                    <h2>Групповой тренинг личности</h2>

                    <p>Небольшой текст, который расскажет о мероприятии, его целях, методах и форме прохождения.</p>

                    <!-- TODO: Items-->
                    <!-- TODO: Image-->
                    <!-- TODO: Buttons-->
                </div>
            </div>
        </div>
    </div>
</body>
</html>