<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../styles/main.css">

    <title>Calendar</title>
</head>
<body>
    <div class="container">
        <h2 class="text-center">24 - 30 Июня</h2>

        <div class="cal row">
            <div class="col-2 col-lg-12">
                <div class="cal__table row seven-cols">
                    <div class="cal__col col-lg-1"><div class="cal__day">пн 24</div></div>
                    <div class="cal__col col-lg-1"><div class="cal__day">вт 25</div></div>
                    <div class="cal__col col-lg-1"><div class="cal__day">ср 26</div></div>
                    <div class="cal__col col-lg-1"><div class="cal__day">чт 27</div></div>
                    <div class="cal__col col-lg-1"><div class="cal__day">пт 28</div></div>
                    <div class="cal__col col-lg-1"><div class="cal__day">сб 29</div></div>
                    <div class="cal__col col-lg-1"><div class="cal__day">вс 30</div></div>
                </div>
            </div>

            <div class="col-10 col-lg-12">
                <div class="cal__table row seven-cols">
                    <div class="cal__col cal__col_of col-lg-1">
                        <div class="cal__event">Арт-терапия</div>
                        <div class="cal__event">Арт-терапия</div>
                    </div>
                    <div class="cal__col cal__col_of col-lg-1">
                        <div class="cal__event">Арт-терапия</div>
                    </div>
                    <div class="cal__col cal__col_of col-lg-1">
                        <div class="cal__event">Арт-терапия</div>
                    </div>
                    <div class="cal__col cal__col_of col-lg-1">
                        <div class="cal__event">Арт-терапия</div>
                    </div>
                    <div class="cal__col cal__col_of col-lg-1">
                        <div class="cal__event">Арт-терапия</div>
                        <div class="cal__event">Арт-терапия</div>
                        <div class="cal__event">Арт-терапия</div>
                    </div>
                    <div class="cal__col cal__col_of col-lg-1">
                        <div class="cal__event">Арт-терапия</div>
                        <div class="cal__event">Арт-терапия</div>
                        <div class="cal__event">Арт-терапия</div>
                    </div>
                    <div class="cal__col cal__col_of col-lg-1">
                        <div class="cal__event">Арт-терапия</div>
                        <div class="cal__event">Арт-терапия</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h2 class="text-center">Выбранное событие</h2>

        <div class="cal row">
            <div class="cal__table col-2 col-lg-12">
                <div class="row seven-cols">
                    <div class="cal__col col-lg-1"><div class="cal__day">пн 24</div></div>
                    <div class="cal__col col-lg-1"><div class="cal__day">вт 25</div></div>
                    <div class="cal__col col-lg-1"><div class="cal__day">ср 26</div></div>
                    <div class="cal__col col-lg-1"><div class="cal__day">чт 27</div></div>
                    <div class="cal__col col-lg-1"><div class="cal__day">пт 28</div></div>
                    <div class="cal__col col-lg-1"><div class="cal__day">сб 29</div></div>
                    <div class="cal__col col-lg-1"><div class="cal__day">вс 30</div></div>
                </div>
            </div>

            <div class="cal__details_wrap col-10 col-lg-12">
                <div class="cal__details eventcard">
                    <h2>Групповой тренинг личности</h2>

                    <p>Небольшой текст, который расскажет о мероприятии, его целях, методах и форме прохождения.</p>

                    <!-- TODO: Items-->
                    <!-- TODO: Image-->
                    <!-- TODO: Buttons-->
                </div>
            </div>
        </div>
    </div>
</body>
</html>