<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../styles/main.css">

    <title>Card</title>
</head>
<body>
    <div class="container">
        <h2 class="text-center">Услуги</h2>

        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="mcard" style="background-image: url('http://lorempixel.com/320/180/')">
                    <div class="mcard__content">
                        <h3 class="mcard__heading light">Индивидуальные</h3>
                        <p class="mcard__description light">Личный коучинг и психотерапия</p>
                    </div>
                    <div class="mcard__actions">
                        <a href="#" class="mcard__action">Подписаться</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="mcard">
                    <div class="mcard__content">
                        <h3 class="mcard__heading light">Корпоративные</h3>
                        <p class="mcard__description light">Командообразование и менторинг Командообразование и менторинг Командообразование и менторинг Командообразование и менторинг</p>
                    </div>

                    <div class="mcard__actions">
                        <a href="#" class="mcard__action symbol"><span class="mcard__action__help-text">Читать</span></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="mcard mcard_bottomed">
                    <div class="mcard__content">
                        <h3 class="mcard__heading light">Групповые длинные очень</h3>
                        <p class="mcard__description light">Взаимоотношения и арт-терапия</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="mcard">
                    <div class="mcard__content">
                        <h3 class="mcard__heading light">Корпоративные</h3>
                        <p class="mcard__description light">Командообразование и менторинг</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h2 class="text-center">Услуги</h2>

        <div class="row">
            <div class="col-md-4">
                <div class="mcard mcard_alt" style="background-image: url('http://lorempixel.com/320/180/')">
                    <div class="mcard__content">
                        <h3 class="mcard__heading light">Заголовок h3</h3>
                        <p class="mcard__description light">Текст p</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mcard mcard_alt" style="background-image: url('http://lorempixel.com/320/180/')">
                    <div class="mcard__content">
                        <h3 class="mcard__heading light">Заголовок h3</h3>
                        <p class="mcard__description light">Текст p</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mcard mcard_alt" style="background-image: url('http://lorempixel.com/320/180/')">
                    <div class="mcard__content">
                        <h3 class="mcard__heading light">Заголовок h3</h3>
                        <p class="mcard__description light">Текст p</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>