<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../styles/main.css">

    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous">
    </script>

    <script src="../../scripts/slider.js"></script>

    <title>Slider</title>
</head>
<body>
    <div class="container" style="height: 400px;">
        <div class="slider" data-dur="500" data-delay="3000" data-fn="slide">
            <div class="slider__item slider__bg" style="background-color: red">
            </div>
            <div class="slider__item slider__bg" style="background-color: green">
            </div>
            <div class="slider__item slider__bg" style="background-color: blue">
            </div>
            <div class="slider__item slider__bg" style="background-color: yellow">
            </div>
        </div>
    </div>
</body>
</html>